body{
    background-color: #171717;
}

header{
    margin-bottom: 2%;
    margin: 2%;
    padding-top: 0.5%;
    
}
header img{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5%;
}
.menu_icon_bar {
    width: 25px;
    height: 3px;
    background-color: #BFBFBF;
    margin-top: 6px;   
}
#menu_icon{
    display: inline-block;
}
nav{
    background-color: #BFBFBF;
    display: inline-block;  
    border-radius: 5px;
    text-align: center;
    /* padding-left: auto;
    padding-right: auto; */

}

nav ul{
    /* padding-right: 10%; */
    list-style-type: none;
    /* margin-left: 0%; */
    /* padding-left: auto;
    padding-right: auto; */
    margin: 0 auto;
    border: 1px;
    border-style: solid;
    border-color: red;
    
    
}
ul li{
    
    border: 1px;
    border-style: solid;
    border-color: green;
    /* margin-right: auto; */
}
nav ul li h3{
    display: inline;
    /* padding-right: 10%; */
    
}

/* nav li ul{
    visibility: ;
} */
  
nav li:hover ul {
    visibility: visible;
}


.main{
    background-color:  #BFBFBF    ;
    border-radius: 7px;
    /*height: max-height;
    width: max-width;*/
    margin: 2%;
    padding-left: 3%;
    padding-right: 3%;
    overflow: auto;
    font-size: 1em;
}
#intro {
    display: block;
    overflow: auto;
}

#intro section {
    width: 60%;
    height: 50%;
    display: inline-block; 
    
}
#HBO_link{
    width: 40%;
    height: 100%;
    float: right; 
    margin: auto;
    margin-top: 10%;
    padding: auto;
    /* padding: 0% 0% 0% 15%; */
    /* margin-left: 10%; */
    /* margin-right: auto; */
    /* margin-left: auto;
    margin-right: auto; */
}

#HBO_link img {
    width: 90%;
    height: 100%;
    /* max-width: 500px;
    max-height: 600px; */
   
    /* padding-top: 1em;
    padding-bottom: 1em; */
}
#intro iframe{
    width: 50vw;
    height: 60vh;
    display: inline-block;
    margin: auto;
    padding-bottom: 10%;
    
}
#george{
    margin-bottom: 5%;
    padding: 2%;
    width: auto;
    overflow: auto;
    word-wrap: break-word;
    font-size: 1.2em;
}

#george_pic{
    float: left;
    width: 30%;
    height: 30%;
    padding: 1% 1% 1% 0%;
}

#george p {
    overflow: auto;
}
.important_in_p {
    font-weight: bold; 
    font-style: italic;
    font-size: 1.3em;
}

.highlighted_volume {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium';
}


#a_song_of_ice_and_fire_list {
    display: inline-block;
    margin-top: 2.5%;

    /* width: 100%; */
}
#a_song_of_ice_and_fire_list h4 {
    margin: 0%;
    padding: 0%;
}
#a_song_of_ice_and_fire_list ol {
    margin-left: 5%;
    padding: 0%;
    display: inline-block;
    /* float: left; */
}
#content {
    margin-top: auto; 
    margin-bottom: auto;
    display: inline-block;
    padding: 3vh 3vw 3vh 0vw;
}
#content span{
    font-weight: bold;
    font-style: italic;
    font-family: 'Franklin Gothic Medium';
}
#a_song_book_pic{
    float: right;
}

#stats h3 span{
    font-style: italic;
    font-family: 'Franklin Gothic Medium';
    font-size: 1.5em;
    color: #ffff1a;
}
#stats table, th, td {
    border: 0.5px solid;
}
table thead :nth-child(1){
    background: #2b75ca;
}

tr:nth-of-type(even){
    background: #65a1e6;
}
td, th{
    text-align: center; 
    vertical-align: middle;
}

footer {
    padding: 2vh;
}
footer h3{
    font-family: Georgia, serif;
    display: inline;
}
footer span {
    font-style: italic
}