.gallery {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 2%;
}

.gallery figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-content: center; */
    width: 350px;
    height: 300px;
    margin: 0;
    padding: 0;
}

figure img {
    width: 100%;
    height: auto;
    align-self: center;
}

figure figcaption {
    font-size: 0.75em;
    align-self: flex-end;
    text-align: justify;
    padding-top: 5px;
}



