body > div:nth-of-type(1) {
    width: 100px;
    height: 70px;
    background-color: aqua;
    position: absolute;
    /*e bagat in flow ul documentului*/ 
    /* position: fixed;  */
    /* elementul pluteste peste pagina la scroll */
    left: 20px;
    top: 100px;
} 
